.menupaths {
  display: none;
  font-size: 1rem;
  background-color: black;
  color: white;
}

.menuburger:hover {
  cursor: pointer;

  .menupaths {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-content: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    list-style: none;
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }
}
a:link {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}

a {
  color: white;
}
.burgerImg {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}

.menucontainer {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
.hidden {
  background-color: black;
}
.welcome {
  font-family: "Nunito Sans", sans-serif;
  margin-top: 1.8rem;
  margin-right: 2rem;
  text-align: center;
  font-size: 1.2rem;
}
.container__flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  color: white;
}
