.menupaths {
  display: none;
  font-size: 1rem;
  background-color: black;
  text-decoration: none;
  list-style: none;
}

.menuburger:hover {
  .menupaths {
    display: block;
    color: white;
    font-weight: bold;
    list-style: none;
  }
}

.burgerImg {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}
