.formcontainer {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 2.5rem;
}

.inputform {
  background-color: rgb(102, 24, 67);
  height: 2rem;
  border: transparent;
  border-radius: 0.5rem;
  width: 10rem;
  color: white;
  padding-left: 1rem;
  font-size: 1rem;
}
.inputform::placeholder {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  padding-left: 1rem;
  font-size: 1rem;
}
.input [type="text"] {
  color: white;
}
.inputformfile {
  width: 8rem;
}
.buttonform {
  color: white;
  background-color: rgb(215, 51, 141);
  border-radius: 1rem;
  padding: 0.4rem;
  border-color: rgb(215, 51, 141);
  width: 5rem;
  height: 2.3rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
