.addform {
  background-color: black;
  color: white;
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  &__title {
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;
    font-weight: 900;
    border-bottom: 1px solid rgb(215, 51, 141);
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
