.logout {
  width: 2rem;
  height: 2rem;
  margin-top: 1.4rem;
  margin-right: 0.5rem;
  border-style: none;
  background-color: transparent;
}
.imglogout {
  width: 2rem;
  height: 2rem;
  margin-right: 12rem;
}
